body {
color:rgb(135, 226, 253);
background:rgba(0, 0, 0, 0.973);
margin:0px;
}

header{
border-bottom: solid 2px rgb(182, 252, 217);
padding:20px;
font-size:32px;
color: rgb(182, 252, 217);
}

section {
background: rgb(184, 156, 213);
padding-bottom: 80px;
padding-top: 80px;
display: flex;


}